<footer id="footer">
    <div class="inner">
        <section>
            <h2>Nous contacter</h2>
            <ul class="icons">
                <li><a href="mailto:ecole@calculquebec.ca"><span class="label">ecole@calculquebec.ca</span></a></li>
            </ul>
        </section>
        <section>
            <h2>Infolettre</h2>
            <a href="https://www.calculquebec.ca/salles-de-presses/infolettres/" target="_blank" rel="noopener noreferrer">Recevoir nos courriels de formations</a>
        </section>
        <section>
            <h2>Nous suivre</h2>
            <ul class="icons">
                <li><a href="https://github.com/calculquebec" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://www.facebook.com/calculquebec/" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; Charles Coulombe. Tous droits réservés.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>
